name: Build {{cookiecutter.__project_slug}} Docker Image

on:
  release:
    types: [published]


jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - {% raw %}
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - {% endraw %}
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: runtime
          tags: {{ cookiecutter.github_username}}/{{ cookiecutter.__project_slug }}:latest,{{ cookiecutter.github_username}}/{{ cookiecutter.__project_slug }}:{% raw %}${{ github.ref_name }}{% endraw %}
          {% raw %} build-args: |
            VERSION=${{ github.ref_name }}
          {%- endraw -%}
      -
        name: Build for Galaxy
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          target: galaxy
          tags: {{ cookiecutter.github_username}}/{{ cookiecutter.__project_slug }}:galaxy,{{ cookiecutter.github_username}}/{{ cookiecutter.__project_slug }}:{% raw %}${{ github.ref_name }}-galaxy{% endraw %}
          {% raw %} build-args: |
            VERSION=${{ github.ref_name }}
          {%- endraw -%}
